.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap; /* Trying to fix Heart issue*/
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  gap: 10px; /* Trying to fix Heart issue*/
  flex-wrap: nowrap; /* Trying to fix Heart issue*/
}

.card__like-button {
  color: #212121;
  margin-left: 12px; /* Trying to fix Heart issue*/
  background-image: url(../../images/Union.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button-liked {
  background-image: url(../images/Union_2.svg);
  opacity: 1;
}

.card__like-button-liked:hover {
  background-image: url(../images/State_State4.svg);
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-image: Url(../images/Trash_grey.svg);
  background-size: contain;
  cursor: pointer;
  opacity: 0.7;
}

.card__delete-button:hover {
  background-image: url(../images/Trash_Liked.svg);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    max-width: 288px;
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    padding: 10px; /* fixes heart cropping issue*/
  }
}
